.App {
  text-align: center;
  padding: 40px;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.Food-section {
  margin-top: 40px;
}

.Food-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}

.Food-item {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
}

.Food-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.Footer {
  margin-top: 40px;
  padding: 20px;
  background-color: #282c34;
  color: white;
}
